<div fxLayout="row" fxLayoutAlign="start start" class="main-container mat-elevation-z2">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="customers$ | async as users">
    <div *ngFor="let user of users">
      <div class="menu-item" [ngClass]="{'active': selectedItem == user.name}" (click)='userClick(user)'>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
          <div class="mat-body-2 menu-item-name">{{user?.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>